@{     
    WebApplication5.Controllers.SuggestionController s = new WebApplication5.Controllers.SuggestionController();
    var suggestionCount = WebApplication5.Controllers.SuggestionController.suggestionCount;
}

<form method="post">
    <label>Количество символов</label>
    <input type="number" min="1" value="@s.ControllerContext." name="symbolCount"/>
    <label>Количество подсказок</label>
    <input type="number" min="0" value="@suggestionCount" name="suggestionCount"/>
    <input type="submit" value="OK" />
</form>